includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/kocal/phpstan-symfony-ux/extension.neon
    - tools/phpstan/symfony-configuration.php

parameters:
    level: 6
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
    excludePaths:
        - config/reference.php

    doctrine:
        objectManagerLoader: tools/phpstan/object-manager.php

rules:
    # LiveComponent rules
    - Kocal\PHPStanSymfonyUX\Rules\LiveComponent\LiveActionMethodsVisibilityRule
    - Kocal\PHPStanSymfonyUX\Rules\LiveComponent\LiveListenerMethodsVisibilityRule
    - Kocal\PHPStanSymfonyUX\Rules\LiveComponent\LivePropHydrationMethodsRule
    - Kocal\PHPStanSymfonyUX\Rules\LiveComponent\LivePropModifierMethodRule

    # TwigComponent rules
    - Kocal\PHPStanSymfonyUX\Rules\TwigComponent\ClassMustBeFinalRule
    - Kocal\PHPStanSymfonyUX\Rules\TwigComponent\ClassNameMustNotEndWithComponentRule
    # ExposePublicPropsMustBeFalseRule is NOT enabled as requested
    - Kocal\PHPStanSymfonyUX\Rules\TwigComponent\ForbiddenAttributesPropertyRule
    - Kocal\PHPStanSymfonyUX\Rules\TwigComponent\ForbiddenClassPropertyRule
    - Kocal\PHPStanSymfonyUX\Rules\TwigComponent\MethodsVisibilityRule
    - Kocal\PHPStanSymfonyUX\Rules\TwigComponent\PostMountMethodSignatureRule
    - Kocal\PHPStanSymfonyUX\Rules\TwigComponent\PreMountMethodSignatureRule
    - Kocal\PHPStanSymfonyUX\Rules\TwigComponent\PublicPropertiesMustBeCamelCaseRule
